.offersContainer {
  display:flex;
  justify-content: center;
  margin-left: 280px;
  height: 100%;
  padding-top: 50px;

  .offers {
    display: flex;
   align-items: center;
   flex-flow: row wrap;
   max-width: 1200px;
  }
  .offerItem {
    height: 300px;
    width: 300px;
  }
  .offerUrl {
    display: block;
    text-align: center;
  }
  .completeOfferButton {
    display: block;
    margin: auto;
  }
}
.pagination {
  position: absolute;
  bottom: 0px;
}

.offersSidebar {
  height: 100%;
  padding-top: 50px;
  width: 280px;
  position: fixed;
  bottom: 0px;
  background: #222222;
  z-index: -1;

  .ulLi {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: Montserrat;
    font-size: 15px;
    height: 45px;
    border-bottom: 1px solid #3b3838;
  }
}
